<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eadproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EADProject">
        <activity android:name=".OwnerController.UpdateFuelDetails"></activity>
        <activity android:name=".OwnerController.OwnerDashboard" />
        <activity android:name=".OwnerController.OwnerProfile" />
        <activity android:name=".OwnerController.AddFuelDetailsOwner" />
        <activity android:name=".QueueController.NoDisplayQueue" />
        <activity android:name=".QueueController.UserViewQueueAllDetails" />
        <activity android:name=".fuelController.ViewFuelStationDetails" />
        <activity android:name=".QueueController.AddUserQueueDetails" />
        <activity android:name=".fuelController.ViewFuelDetails" />
        <activity android:name=".QueueController.ViewLengthQueue" />
        <activity android:name=".fuelController.FuelStation" />
        <activity
            android:name=".userController.UserProfile"
            android:parentActivityName=".UserDashboard.Dashboard" />
        <activity android:name=".UserDashboard.Dashboard" />
        <activity android:name=".userController.Register" />
        <activity
            android:name=".userController.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>